@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*font-family: 'Crimson Text', serif;
font-family: 'Work Sans', sans-serif;*/

.up {
    position: absolute;
    background: #74C69D;
    margin-top: -449px;
    width: 100%;
    height: 123px;
    color: white;
    padding: 1px;
}

.gap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 959px;
    margin-top: -41px;
    width: 391px;
    height: 25px;

}

.gap p {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
}

.cards {
    display: grid;
    width: 1187px;
    height: 1567px;
    grid-gap: 55px;
    grid-template-columns: 570px 570px;
    grid-template-rows: 365px 365px 365px 365px;
    margin: 449px auto 0 auto;
    
}

.logo {
    width: 70px;
    height: 50px;
    margin-top: 35px;
    margin-left: 174px;

}

h1:nth-child(3) {
    position: absolute;
    margin-top: -37px;
    margin-left: 264px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 125%;
}

.card {
    height: 365px;
    width: 570px;
    margin-top: -52px;
    margin-left: 3px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 558px;
    gap: 16px;
    position: absolute;
    text-align: center;
    margin-top: -296px;
}

.text h2 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #74C69D;
}

.text h1 {
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.text p {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
}
.footer {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    background: #74C69D;
    width: 100%;
    height: 123px;
}
.footer img {
    width: 18px;
    height: 19px;
}

.footer img:nth-child(1) {
    margin-left: 171px;
    width: 10px;
}
.footer img:nth-child(7) {
    width: 24px;
}