@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*font-family: 'Crimson Text', serif;
font-family: 'Work Sans', sans-serif;*/
.up {
    position: absolute;
    background: #74C69D;
    margin-top: -449px;
    width: 100%;
    height: 123px;
    color: white;
    padding: 1px;
}

.gap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 959px;
    margin-top: -41px;
    width: 391px;
    height: 25px;

}

.gap p {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
}

.cards {
    display: grid;
    width: 1187px;
    height: 1567px;
    grid-gap: 55px;
    grid-template-columns: 570px 570px;
    grid-template-rows: 365px 365px 365px 365px;
    margin: 449px auto 0 auto;
    
}

.logo {
    width: 70px;
    height: 50px;
    margin-top: 35px;
    margin-left: 174px;

}

h1:nth-child(3) {
    position: absolute;
    margin-top: -37px;
    margin-left: 264px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 125%;
}

.card {
    height: 365px;
    width: 570px;
    margin-top: -52px;
    margin-left: 3px;
}

.text {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 558px;
    gap: 16px;
    position: absolute;
    text-align: center;
    margin-top: -296px;
}

.text h2 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #74C69D;
}

.text h1 {
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.text p {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
}
.footer {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    background: #74C69D;
    width: 100%;
    height: 123px;
}
.footer img {
    width: 18px;
    height: 19px;
}

.footer img:nth-child(1) {
    margin-left: 171px;
    width: 10px;
}
.footer img:nth-child(7) {
    width: 24px;
}
.footer p {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    margin-left: 589px;
    color: white;
}
/*Button*/
.flex {
    display: flex;
    justify-content: center;
}
.Load {
    background: #212529;
    border-radius: 5px;
    color: white;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    width: 170px;
    height: 48px;
    margin-bottom: 100px;
    margin-top: 64px;
}
.Load:hover {
    background: #000;
}
.Load:active {
    background: #292929;
    transition-delay: 0s;
}
/*Img size*/
.cards img:nth-child(1) {
    width: 570px;
    height: 335px;
}
.cards img:nth-child(2) {
    width: 555px;
    height: 335px;
}
/*375*/
@media screen and (max-width: 376px) {
    .cards {
        display: grid;
        width: 1187px;
        height: 1567px;
        grid-gap: 55px;
        grid-template-columns: 570px;
        grid-template-rows: 365px 365px 365px 365px 365px 365px 365px 365px;
        margin: 449px auto 0 auto;
        
    }
    .logo {
        margin-left: 20px ;
    }
    .up h1 {
        margin-left: 105px;
    }
  }